<h1>Home</h1>
<p></p>

    
<div class=container>   
  <div style=margin-top: 1px; margin-right: 2px; position:absolute; top:0; right:0;>

	<%= button_to "Log In", new_user_session_path, :class => "Button", :style=>"margin-top: 1px; margin-right: 2px; position:absolute; top:0; right:0;"%>

	<%= button_to "Log Out", destroy_user_session_path, :class => "Button", :style=>"margin-top: 30px; margin-right: 2px; position:absolute; top:0; right:0;" %>
  
</div>   
